<configuration>
	<connectionStrings>
		<add name="PawfectSuppliesDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\NYP\Y2S2\AWAD\Project\Database\PawfectSuppliesDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<!-- Remove AjaxControlToolkit -->
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.7.2" />
		<pages>
			<controls>
			</controls>
		</pages>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory" resourceType="Unspecified"/>
		</handlers>
	</system.webServer>

	<appSettings>
		<add key="SMTP_Host" value="smtp.gmail.com"/>
		<add key="SMTP_Port" value="587"/>
		<add key="SMTP_User" value="pawfectsupplieswebsite@gmail.com"/>
		<add key="SMTP_Password" value="ofgxfhaedpxfstpp"/>
		<add key="SMTP_EnableSSL" value="true"/>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
		<add key="GoogleClientID" value="1082695824872-198hcdslmiukr8duji401k10ckkeqgqg.apps.googleusercontent.com"/>
		<add key="GoogleClientSecret" value="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"/>
		<add key="GoogleRedirectUri" value="https://localhost:44351/Pages/User/GoogleCallback.aspx"/>
	</appSettings>

</configuration>
